*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body{
    background: #238152;
    background-image: linear-gradient(#000000,#0d311f,#238152,#47e998);
    background-attachment: fixed;
    background-size:auto;
    background-repeat: repeat-x;
    z-index: 2;
    display: flex;
  
  }
  .card{
    z-index: 1;
    width: 80%;
    max-width: 580px;
    background: linear-gradient(-155deg, rgb(188, 88, 255),rgb(36, 38, 167));
    color: #000000;
    margin: 100px auto 0;
    border-radius: 30px;
    padding: 20px 20px;
    overflow: hidden;
  }
  .addTask{
    margin: 10px;
    padding: 10px;
    outline-color: rgba(0, 0, 0, 0.404);
    outline-style: solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .addTaskButton{
    margin-left: 20px;
    border-radius: 50px;
    background-color: #0ce6af;
    scale: 1.3;
    width: 25px;
    height: 25px;
  }

  .taskDescription{
    margin-right: 20px;
    
  }
  .addButton{
    height: fit-content;
    outline-style: dotted; 
    outline-color: purple;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    padding: 20px 20px;
    max-width: 200px;
    z-index: 2;
    width: 90%;
    top: 0;
    bottom: 0;
    left: -200px;
    background: rgb(123, 57, 245);
    outline-style: solid;
    outline-width: 8px;
    outline-color: rgba(0, 0, 0, 0.24);
    opacity: 0; 
    transition: opacity 1s ease, left 1s ease;
  }
  .card.show-sidebar .sidebar {
    left: 0;
    opacity: 1; 
  }
  .hiddenButton{
    margin-top: -10px;
    background: none;
    border: none;
  }
  .fa-caret-down{
    scale: 1.5;
    margin-top: 16px;
  }
 
  .taskDescriptionTa{
    width: 250px;
    height: 100px;
    background-color: #5d36a773;
    resize: vertical;
    border-radius: 5px;
  }
 .taskTitleInput{
    margin-bottom: 20px;
    width: 100px;
    background-color: #5d36a773;
    resize: vertical;
    border-radius: 5px;
 }
 .taskColorSelect{
    width: 100px;
 }
 .taskOptions{
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
 }
 .addtaskBookmark{
    margin-right: 80px;
    margin-bottom: 80px;
 }
.tasks{
  margin: 10px;
  padding: 10px;
  outline-color: rgba(0, 0, 0, 0.404);
  outline-style: solid;
}
.task{
  width: 100px;
  margin: 10px;
  padding: 10px;
  outline-color: rgba(82, 10, 85, 0.404);
  outline-style: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: 2s;
}
.taskBookmark{
  margin-bottom: 20px;
}
.taskContents{
  display: grid;
  place-items: center;
  
}

.taskDots{
  color: rgb(121, 92, 121);
  font-size: 30px;
  margin-top: 10px;
}


  